* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
}

/* section 2 */

.container-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner_1.png);
  background-position: center;
}

.header-section {
  background-color: black;
  background: linear-gradient(180deg, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 150px;
  display: flex;
  overflow: hidden;
}

.logo {
  width: 20%;
  padding-left: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navigation {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 100px;
}

.link {
  color: #fff;
  padding: 70px 30px;
  text-decoration: none;
  font-size: 24px;
}

.link:hover {
  background-color: #f64b3c;
  color: #fff;
}

.banner {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: start;
  align-items: center;
}

.banner__texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  color: #fff;
}

.banner__texts h1 {
  font-size: 100px;
}

.banner__texts p {
  font-size: 36px;
  margin: 20px 0 75px 0;
}

.banner__texts a {
  background-color: #f64b3c;
  width: 50%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  border-radius: 40px;
}

.banner__texts a:hover {
  background-color: #fff;
  color: #f64b3c;
}

/* section 2 */

.container-2 {
  width: 100%;
  height: 80vh;
  background-color: #f6eedf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #f64b3c;
}

.text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h2 {
  font-size: 36px;
}

.text p {
  margin: 60px;
  font-size: 20px;
}

.team {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.team__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__img img {
  border-radius: 50%;
}

.team__img h3 {
  margin: 10px 0;
  font-size: 20px;
}

.team__img p {
  font-size: 16px;
}

/* section 3 */

.container-3 {
  width: 100%;
  height: 80vh;
  background-color: #f64b3c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: #fff;
}

.container-3__img {
  width: 35%;
}

.container-3__text {
  width: 35%;
}

.container-3__text h2 {
  font-size: 48px;
}

.container-3__text p {
  font-size: 20px;
  margin: 40px 0;
}

.container-3__text a {
  font-size: 18px;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px 40px;
  text-decoration: none;
  color: #f64b3c;
}

.container-3__text a:hover {
  background-color: #222222;
  color: #fff;
  transition: 0.5s;
}

/* section 4 */

.container-4 {
  width: 100%;
  height: 80vh;
  background-color: #f6eedf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #f64b3c;
}

.container-4__text {
  width: 35%;
}

.container-4__img {
  width: 35%;
}

.container-4__text h2 {
  font-size: 48px;
}

.container-4__text p {
  font-size: 20px;
  margin: 40px 0;
}

.container-4__text a {
  font-size: 18px;
  background-color: #f64b3c;
  border-radius: 25px;
  padding: 15px 40px;
  text-decoration: none;
  color: #fff;
}

/* section 5 */

.container-5 {
  background-color: #f64b3c;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-5__text {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-5__data {
  width: 65%;
  height: 32.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.data {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #fff 6px;
}

.container-5__text h2 {
  font-size: 48px;
}

.container-5__text p {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}

.data h3 {
  font-size: 96px;
}

.data p {
  font-size: 28px;
}

/* section 6 */

.container-6 {
  background-color: #f6eedf;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f64b3c;
}

.container-6__title {
  font-size: 48px;
}

.container-6__card {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #fff;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 12px 25px;
}

.card h3 {
  font-size: 32px;
  font-weight: 100;
}

.card img {
  object-fit: cover;
  width: 25%;
}

.card h4 {
  font-size: 36px;
  font-weight: 700;
}

.card p {
  font-size: 18px;
}

.card a {
  background-color: #f64b3c;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

/* section 7 */

.container-7 {
  background-color: #f64b3c;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f64b3c;
  position: relative;
}

.map {
  width: 100%;
  height: 78vh;
}

iframe {
  width: 100%;
  height: 78vh;
}

.form-section {
  position: absolute;
  bottom: 10px;
  background-color: #f6eedf;
  width: 30%;
  padding: 15px 15px;
  border-radius: 5px;
}

.form-title {
  font-size: 25px;
  margin: 25px auto;
  text-align: center;
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-1 {
  width: 95%;
  height: 45px;
  margin: 7px auto;
  outline: none;
}

.item-2 {
  width: 98%;
  height: 45px;
  margin: 7px auto;
  grid-column: 1/3;
  outline: none;
}

.textarea {
  width: 98%;
  height: 100px;
  margin: 7px auto;
  grid-column: 1/3;
  outline: none;
  resize: none;
}

.submit {
  width: 30%;
  height: 45px;
  margin: 7px auto;
  grid-column: 1/3;
}

/* section 8 */

.container-8 {
  background-color: #f6eedf;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f64b3c;
}

.container-8__div {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-8__title {
  font-size: 64px;
}

.container-8__paragraph {
  width: 65%;
  font-size: 20px;
  text-align: center;
  margin: 35px auto;
}

.container-8__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-email {
  width: 40%;
  height: 45px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
}

.input-submit {
  width: 25%;
  height: 45px;
  border-radius: 0 20px 20px 0;
  border: none;
  outline: none;
  background-color: #f64b3c;
  color: #fff;
  font-size: 17px;
}
